body {
  font-family: 'Oswald', sans-serif;
  font-size: 16 px;
  background-color: #0f0f0f;
}

section {
  box-sizing: border-box;
}

.header-section {
  height: 100vh;
  background: url("../img/headerBg.jpg") no-repeat center center / cover;
}

.header-section:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 3;
  max-width: 70%;
  padding: 2.2em;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-section--nav {
  display: flex;
  justify-content: space-evenly;
}

.header-section--nav li:not(:last-child) {
  margin-right: .6em;
}

.header-section--nav li a {
  color: #fff;
  padding: .8em;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.header-section--nav li:first-child a {
  color: #25acca;
}

.header-section--info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section--wrap {
  text-align: center;
  color: #fff;
}

.header-section--wrap h2 {
  color: #25acca;
  font-size: 15px;
  font-weight: 400;
  margin: 30px 0;
}

.header-section--wrap h1 {
  font-size: 115px;
  font-weight: 700;
  margin: 0 0 30px;
}

.header-section--wrap a {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 1px;
  padding: 10px 20px;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #25acca;
}

.about {
  min-height: 28em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.about--container {
  max-width: 70%;
}

.about--container p {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  padding: 1.8em 0 1em 0;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.header-info {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.4em;
}

.header-info--header {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
}

.header-info--subheader {
  font-family: inherit;
  font-size: 13px;
  font-weight: 200;
  margin-top: .8em;
}

h2.header-info--subheader span {
  color: #25acca;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.demos-container {
  max-width: 70%;
  margin: 0 auto;
}



.demos-preview {
  margin: 4em 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.demos-preview--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.demos-preview--container-item {
  box-sizing: border-box;
  width: 30%;
  margin: 1em .5em;
}

.demos-preview--container-item img{
  width: 100%;
  margin: 0;
}

.preview-img-info {
  padding: 15px;
  background: #030303;
  border-radius: 0 0 5px 5px;
  max-width: 22em;
  color: #fff;
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}