* {
  outline: none !important;
}

body {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  background-color: #0f0f0f;
}

.header-section {
  height: 100vh;
  background: url("../img/headerBg.jpg") no-repeat center center / cover;
}

.header-section:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 1;
}

.header {
  position: relative;
  z-index: 3;
  max-width: 70%;
  padding: 2.3em;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header-section--nav {
  display: flex;
  justify-content: space-evenly;
}

.header-section--nav li:not(:last-child) {
  margin-right: 1.2em;
}

.header-section--nav li a {
  color: #fff;
  padding: .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.header-section--nav li:first-child a {
  color: #25acca;
}

.header-section--nav li a:last-child {
  padding-right: 0;
}

.header-section--info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section--wrap {
  text-align: center;
  color: #fff;
  position: relative;
}

.header-section--wrap h2 {
  color: #25acca;
  font-size: 15px;
  font-weight: 400;
  margin: 2.6em 0;
}

.header-section--wrap h1 {
  font-size: 115px;
  font-weight: 700;
  margin: 0 0 30px;
}

.header-section--button {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 1px;
  padding: 10px 14px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #25acca;
}

.about {
  min-height: 28em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.about--container {
  max-width: 70%;
}

.about--container p {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  padding: 1.8em 0 1em 0;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.header-info {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.4em;
}

.header-info--header {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
}

.header-info--subheader {
  font-family: inherit;
  font-size: 13px;
  font-weight: 200;
  margin-top: .8em;
}

h2.header-info--subheader span {
  color: #25acca;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.demos-container {
  max-width: 70%;
  margin: 0 auto;
}

.demos-preview {
  margin: 4em 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.demos-preview--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.demos-preview--container-item {
  box-sizing: border-box;
  width: 30%;
  margin: 1em .5em;
}

.demos-preview--container-item img{
  width: 100%;
  margin: 0;
}

.preview-img-info {
  padding: 15px;
  background: #030303;
  border-radius: 0 0 5px 5px;
  max-width: 22em;
  color: #fff;
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.section-parallax {
  box-sizing: border-box;
  border: 100px solid #000000;
}

.parallax{
  width: 100%;
  height: 30em;
  position: relative;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: -90%;
  left: -20%;
  right: 0;
  bottom: 0;
  background-position: center;
	background-repeat: no-repeat;
  background-size: contain;
}

.parallax::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.parallax-layer__1 {
  background: url('../img/bg-parallax-facts.jpg');
  background-size: cover;
}

.parallax-layer__2 {
  background: url('../img/layer-1.png');
}

.parallax-layer__3 {
  background: url('../img/layer-2.png');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: darkgray;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1a7c92;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2092ac;
}

.parallax-content {
  position: relative;
  z-index: 2;
  height: 100%;
  color: #fff;
}

.section-heading {
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 4em 0 0;
  font-size: 40px;
  line-height: 1.1;
  font-family: 'Raleway', sans-serif;
}

.section-subheading {
  color: #25acca;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin: 1em 0 3em;
}

svg:not(:root) {
  overflow: hidden;
}

.facts-counter-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-left: 15px;
}

.facts-counter-wrapper--info {
  text-align: center;
  padding: 1em;
}

.facts-counter-number {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
}

.facts-counter-description {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.facts-counter-title {
  position: relative;
  font-size: 11px;
}